/*==========================================================================================
	
Media CSS File
This file contains all styles for responsive layout

==========================================================================================*/


/*----------------------------------------------------*/
/*	1.	More than 1041px
/*----------------------------------------------------*/
@media only screen and (max-width: 981px) {
	
	.prev {left:20px;}
	.next {right:20px;}
	
	#header.sticky .after {display:none;}
	
	#header li.center {display:none;}
	
	#core .core-values li .core {background-color:#f9f9f9!important;}
	#core .core-values li .fa {color:#000!important;}
	
	.review .left {width:100%;margin:0;}
	.review .right {width:100%;margin:0;}
	
	.wrap-project {padding:0 4%;}
	
	#mobile_logo {display:block;float:left;margin:11px 0 0 11px;}
	#mobile_logo .label {position:absolute;display:block;background-color:transparent;top:-50px;left:0;width:170px;height:170px;z-index:0;}
	#mobile_logo img {position:relative;z-index:2;text-align:center;margin:8px 0 0 -3px; width:100px; height:103px;}
	
	#services .testimonial {padding-left:5%;padding-right:5%;width:90%;}
	
	#portfolio li {width:50%;}
	
	#header{background-color:#000; height:60px; z-index:999999;}
	.wrap {width:100%;}
	
	#contacts .get-in-touch {width:323px;}
	#contacts .text {width:350px;margin-left:-350px;top:70px;}
	
	.smart-wrap {width:570px;}
	
	/* mobile navigation menu */
	#navigation {left:100%;position:fixed;width:100%;top:60px;background-color:#252525;}
	#navigation.visible {left:0;}
	#navigation li {width:100%;float:left;}
	#navigation li a {padding:10px;text-align:center;color:#fff!important;}
	#navigation li.parent {display:none;}
	
	#nav-mobile {display:block;float:right;width:60px;height:60px;background: #252525 url(../img/sprite.png) no-repeat 21px -245px;cursor:pointer;}
	#nav-mobile:hover {background-color:#252525;}
	
	#core .core-values li {width:50%;}
	#core .core-values li .fa {left:44%;top:45px;}
	
	.references {padding-bottom:30px;}
	.chart {margin:0 20px 25px 20px!important;}
	
	.title-contact-mobile {display:inline-block;margin:50px 0;}
	
	#contacts .contacts-mobile-over {display:block;}
	
	#contacts .get-in-touch {width:100%;top:10px;left:auto;padding:0 20px;}
	#contacts .get-in-touch input, #contacts .get-in-touch textarea, #zoomout, #zoomin, #contacts .get-in-touch button {
		box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;
	}
	
	#footer .bottom {display:none;}
	
	.post .vimeo-frame {height:250px;}
	
	#navigation li a.active {background-color:#535353;color:#fff;}
	#navigation li a.active:hover {background-color:#fff;color:#000;}
	#navigation li a span.border {display:none!important;}
	#navigation li a:hover {background-color:#000!important;}
	
	.smart-slide {margin-bottom:10px;}
	
	.laptop-over {left:120px;top:787px;}
	
	#about .present .image a.button {padding:10px 0px;}
	
	.cr-video-content {width:500px;margin-left:-250px;}
	.cr-video-content {font-size:2em;}
	.cr-video-content a {padding:7px 30px;border:4px solid #fff;}
	
	.pies li p {height:100px;}
	
	#phone .left {display:none;}
	#phone .right {width:100%;}
	
	.capture-img {height:auto;width:100%;}
	
	.wrap.youtube-wrap {margin-left:-384px;}
	
	.header_call {float:left; background:url(../img/call-icon.png) no-repeat left 5px; color:#fff; font-size:24px; padding:1px 0 1px 42px; margin:9px 0 0 45px;}
	.page-title {margin:105px 0 0 0;}
	
	#team .member {float:left; width:355px; padding:25px 20px;}
	#team .member .member_pic {float:left; width:100px; height:100px; padding:10px; border:3px solid #9d9fa2; border-radius: 100px;}
	#team .member .member_pic img {width:100%; height:100%;}
	#team .member .member_text {float:right; width:215px; color:#bcbec0; font-size:15px; text-align:left; padding:20px 0 0 0;}
	
	#blog .inner_blog h2.page-title {color:#fff;font-size:35px;margin:0 0 0px 0; font-weight:normal; line-height:42px;}
	#blog .inner_blog h3.page-subtitle {color:#d3d5d6; font-size:18px; text-align:left; font-weight:bold; font-style:italic; line-height:24px; padding:10px 10px;}
	
	.how .point_name {float:left;width:225px;padding:10px 40px 12px 10px;font-family: 'ancillaryregular'; background:#a1a1a1 url(../img/bg_how.png) no-repeat right top; font-size:32px; color:#fff;}
	.how .point_detail {float:right;width:475px;font-size:15px; color:#636466; line-height:24px;}
	
	
	
	.conta .addr {float:left;width:300px;}
	.conta .addr h6 {font-size:33px; line-height:42px; font-weight:normal; color:#808285; margin-bottom:15px; margin-top:0px;}
	.conta .addr p {font-size:22px; line-height:24px; font-weight:normal; color:#636466; margin-bottom:15px;}
	.conta .addr .phone {font-size:22px; line-height:24px; font-weight:normal; color:#fff; margin-bottom:15px; background:#666 url(../img/bg_phone_f.png) no-repeat 15px 10px; padding:10px 10px 10px 60px;}
	.conta .addr .email {font-size:22px; line-height:24px; font-weight:normal; color:#fff; margin-bottom:15px; background:#666 url(../img/bg_email_f.png) no-repeat 15px 15px; padding:10px 10px 10px 60px;}
	.conta .addr .soc {width:77px; height:77px; float:left; margin-right:15px;}
	.conta .right_form {float:right;width:500px;}
	.conta .right_form .row {float:left;width:500px; margin-bottom:20px;}
	.conta .right_form .row .input_name {float:left;width:170px; background:#bfbebf url(../img/bg_name_f.png) no-repeat 15px 6px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_email {float:right;width:170px; background:#bfbebf url(../img/bg_email_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_phone {float:left;width:170px; background:#bfbebf url(../img/bg_phone_f.png) no-repeat 15px 7px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_com {float:right;width:170px; background:#bfbebf url(../img/bg_com_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_msg {float:left;width:430px; height:100px; background:#bfbebf url(../img/bg_msg_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_btn {float:right;width:140px; height:48px; border:none; cursor:pointer; background:url(../img/btn_send.png) no-repeat left top;}
	
	

/*----------------------------------------------------*/
/*	1.	Between 1041px and 800px
/*----------------------------------------------------*/
@media only screen and (max-width: 800px) {
	
	.page-title {font-size:35px; margin:105px 0 0 0;}
	.page-subtitle {font-size:15px;}
	
	.screens .center {width:100%;float:left;left:auto;margin-left:auto;text-align:center;}
	.screens .center img {max-width:100%;}
	
	#portfolio .client {display:none!important;}
	
	.big-text {font-size:30px;margin-top:-40px;}
	.small-text {font-size:15px;margin-top:14px;}
	
	.screens .left, .screens .right {}
	
	#about .facts li {width:40%;margin-bottom:45px;}
	#about .facts li.break {display:none;}
	
	.customers li {width:25%;}
	
	#core .core-values li .fa {left:46.2%;top:50px;}
	
	#carousel .center-holder .right {display:none;}
	#carousel .center {}
	#carousel .center {position:absolute;left:0;margin-left:0;}
	
	#contacts .get-in-touch {width:100%;top:10px;}
	#contacts .text {width:350px;margin-left:-350px;top:70px;}
	
	.smart-wrap {width:190px;}
	
	.pies li {max-width:49%;height: 400px;}
	.pies li p {padding: 0 20px;height: 130px;}
	
	#core .core-values li {width:100%;}
	
	#footer {}
	#footer .wrap {width:100%;padding:0 0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
	#footer .hide-mobile {display:none;}
	
	#map {height:540px;}
	
	.post .vimeo-frame {height:175px;}
	
	.article-nav .to_date, .article-nav .fa {display:none;}
	.article-nav .prev a {padding-left:10px;}
	.article-nav .next a {padding-right:10px;}
	
	.comment-list ul {margin-left:40px;}
	
	.tabs-holder .tabs li a {padding:7px;}
	
	.column {margin-bottom:20px;}
	.column-1, .column-2, .column-3 {width:100%;}
	
	.space {padding:5px 0;margin:0;}
	
	#skills {margin-bottom:30px;}
	
	.laptop-over {display:none;}
	.laptop {width:400px;height:232px;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
	
	#about .present .image a.button {display:none;}
	
	.cr-video-content {width:320px;margin-left:-160px;}
	.cr-video-content {font-size:1.5em;}
	.cr-video-content a {padding:5px 25px;border:3px solid #fff;}
	
	.wrap.youtube-wrap {margin-left:-200px;}
	
	.youtube-wrap {display:none;}
	
	#team .member {float:left; width:94%; padding:25px 2.5%;}
	#team .member .member_pic {float:left; width:100px; height:100px; padding:10px; border:3px solid #9d9fa2;}
	#team .member .member_pic img {width:100%;}
	#team .member .member_text {float:right; width:70%; color:#bcbec0; font-size:15px; text-align:left;}
	
	#blog .inner_blog h2.page-title {color:#fff;font-size:24px;margin:0 0 0px 0; font-weight:normal; line-height:30px;}
	#blog .inner_blog h3.page-subtitle {color:#d3d5d6; font-size:15px; text-align:left; font-weight:bold; font-style:italic; line-height:22px; padding:8px 8px;}
	
	.how .point_name {float:left;width:170px;padding:10px 40px 12px 10px;font-family: 'ancillaryregular'; background:#a1a1a1 url(../img/bg_how.png) no-repeat right -5px; font-size:24px; color:#fff;}
	.how .point_detail {float:right;width:340px;font-size:14px; color:#636466; line-height:24px;}
	
	
	.conta .addr {float:left;width:350px; margin-left:50px; margin-bottom:30px;}
	.conta .addr h6 {font-size:33px; line-height:42px; font-weight:normal; color:#808285; margin-bottom:15px; margin-top:0px;}
	.conta .addr p {font-size:22px; line-height:24px; font-weight:normal; color:#636466; margin-bottom:15px;}
	.conta .addr .phone {font-size:22px; line-height:24px; font-weight:normal; color:#fff; margin-bottom:15px; background:#666 url(../img/bg_phone_f.png) no-repeat 15px 10px; padding:10px 10px 10px 60px;}
	.conta .addr .email {font-size:22px; line-height:24px; font-weight:normal; color:#fff; margin-bottom:15px; background:#666 url(../img/bg_email_f.png) no-repeat 15px 10px; padding:10px 10px 10px 60px;}
	.conta .addr .soc {width:77px; height:77px; float:left; margin-right:15px;}
	.conta .right_form {float:left;width:500px; margin-left:50px;}
	.conta .right_form .row {float:left;width:500px; margin-bottom:20px;}
	.conta .right_form .row .input_name {float:left;width:170px; background:#bfbebf url(../img/bg_name_f.png) no-repeat 15px 6px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_email {float:right;width:170px; background:#bfbebf url(../img/bg_email_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_phone {float:left;width:170px; background:#bfbebf url(../img/bg_phone_f.png) no-repeat 15px 7px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_com {float:right;width:170px; background:#bfbebf url(../img/bg_com_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_msg {float:left;width:430px; height:100px; background:#bfbebf url(../img/bg_msg_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_btn {float:right;width:140px; height:48px; border:none; cursor:pointer; background:url(../img/btn_send.png) no-repeat left top;}
	
	.how_list_3 ul {margin:0; padding:0;}
	.how_list_3 ul li {background:#9d9fa2; color:#eceded; width:48%; margin:5px 1%; padding:10px 0px; float:left; text-align:center; font-size:16px; line-height:22px;}
	.how_list_3 ul li:last-child {background:#9d9fa2; color:#eceded; width:70%; margin:5px 15%; padding:10px 0px; float:left; text-align:center; font-size:20px; line-height:22px;}
	
}

@media only screen and (max-width: 600px) {
	#portfolio li {width:100%;}
	.screens {padding-bottom:50px;}
	.screens .left, .screens .right {float:left; width:90%; padding:5%;}
	
	#mobile_logo {display:block;float:left;margin:11px 0 0 11px;}
	#mobile_logo .label {position:absolute;display:block;background-color:transparent;top:-45px;left:0;width:130px;height:130px;z-index:0;}
	#mobile_logo img {position:relative;z-index:2;text-align:center;margin:8px 0 0 1px; width:100px; height:103px;}
	
	.header_call {float:left; background:url(../img/call-icon.png) no-repeat left 5px; color:#fff; font-size:20px; padding:8px 0 8px 42px; margin:5px 0 0 45px;}
	
	.page-title {font-size:35px; margin:65px 0 0 0;}
	
	#team .member {float:left; width:94%; padding:25px 2.5%;}
	#team .member .member_pic {float:left; width:70px; height:70px; padding:8px; border:3px solid #9d9fa2;}
	#team .member .member_pic img {width:100%;}
	#team .member .member_text {float:right; width:70%; color:#bcbec0; font-size:15px; text-align:left; padding:0;}
	
	#blog .inner_blog h2.page-title {color:#fff;font-size:24px;margin:0 0 0px 0; font-weight:normal; line-height:30px;}
	#blog .inner_blog h3.page-subtitle {color:#d3d5d6; font-size:15px; text-align:left; font-weight:bold; font-style:italic; line-height:22px; padding:8px 8px;}
	
	.how .point_name {float:left;width:170px;padding:10px 40px 12px 10px;font-family: 'ancillaryregular'; background:#a1a1a1 url(../img/bg_how.png) no-repeat right -5px; font-size:24px; color:#fff;}
	.how .point_detail {float:left;width:90%;font-size:14px; color:#636466; line-height:24px; margin-top:10px;}
	
	.how_30 {float:left; width:88%; padding:10px 6%;}
	.how_50 {float:left; width:88%; padding:10px 6%;}
	
	.conta .addr {float:left;width:350px; margin-left:40px; margin-bottom:30px;}
	.conta .addr h6 {font-size:33px; line-height:42px; font-weight:normal; color:#808285; margin-bottom:15px; margin-top:0px;}
	.conta .addr p {font-size:22px; line-height:24px; font-weight:normal; color:#636466; margin-bottom:15px;}
	.conta .addr .phone {font-size:22px; line-height:24px; font-weight:normal; color:#fff; margin-bottom:15px; background:#666 url(../img/bg_phone_f.png) no-repeat 15px 10px; padding:10px 10px 10px 60px;}
	.conta .addr .email {font-size:22px; line-height:24px; font-weight:normal; color:#fff; margin-bottom:15px; background:#666 url(../img/bg_email_f.png) no-repeat 15px 10px; padding:10px 10px 10px 60px;}
	.conta .addr .soc {width:77px; height:77px; float:left; margin-right:15px;}
	.conta .right_form {float:left;width:380px; margin-left:20px;}
	.conta .right_form .row {float:left;width:380px; margin-bottom:20px;}
	.conta .right_form .row .input_name {float:left;width:310px; background:#bfbebf url(../img/bg_name_f.png) no-repeat 15px 6px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px; margin-bottom:20px;}
	.conta .right_form .row .input_email {float:left;width:310px; background:#bfbebf url(../img/bg_email_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_phone {float:left;width:310px; background:#bfbebf url(../img/bg_phone_f.png) no-repeat 15px 7px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px; margin-bottom:20px;}
	.conta .right_form .row .input_com {float:left;width:310px; background:#bfbebf url(../img/bg_com_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_msg {float:left;width:310px; height:100px; background:#bfbebf url(../img/bg_msg_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_btn {float:right;width:140px; height:48px; border:none; cursor:pointer; background:url(../img/btn_send.png) no-repeat left top;}
	
	.how_list_2 ul {margin:0; padding:0;}
	.how_list_2 ul li {background:#666 url(../img/tick.png) no-repeat 5px 8px; color:#fff; width:90%; margin:5px 3px 5px 3px; padding:10px 5px 10px 30px; float:left;}
	
	.client_logos{width:100%; margin:10px auto;}
	.client_logo {width:27%; margin:0 3%; text-align:center; float:left;}
	.client_logo img {width:100%; height:auto;}
	
	.how_list_3 ul {margin:0; padding:0;}
	.how_list_3 ul li {background:#9d9fa2; color:#eceded; width:100%; margin:5px 0%; padding:10px 0px; float:left; text-align:center; font-size:16px; line-height:22px;}
	.how_list_3 ul li:last-child {background:#9d9fa2; color:#eceded; width:100%; margin:5px 0%; padding:10px 0px; float:left; text-align:center; font-size:16px; line-height:22px;}
	
}

/*----------------------------------------------------*/
/*	1.	Between 800px and 400px
/*----------------------------------------------------*/
@media only screen and (max-width: 400px) {
	
	.page-title {font-size:25px; margin:35px 0 0 0;}
	.page-subtitle {font-size:15px;}
	.screens {padding-bottom:50px;}
	.screens .left, .screens .right {float:left; width:90%; padding:5%;}
	
	.customers li {width:33%;}
	
	.prev {top:117px;left:30px;}
	.next {top:117px;right:30px;}
	
	
	.pies li {max-width:100%;height: 343px;}
	
	.post .vimeo-frame {height:130px;}
	
	.post {padding-left:0;}
	
	.tabs-holder .tabs li a {font-size:0.8em;}
	
	.laptop {width:320px;height:185px;}
	
	.wrap.youtube-wrap {display:none;left:0;bottom:0;top:auto;margin:0;}
	#youtube-controls h2, #youtube-controls h3 {display:none;}
	#youtube-controls {margin:0;}
	
	#mobile_logo {display:block;float:left;margin:11px 0 0 11px;}
	#mobile_logo .label {position:absolute;display:block;background-color:transparent;top:-45px;left:0;width:110px;height:110px;z-index:0;}
	#mobile_logo img {position:relative;z-index:2;text-align:center;margin:8px 0 0 4px; width:80px; height:83px;}
	
	.header_call {float:left; background:url(../img/call-icon.png) no-repeat left 5px; color:#fff; font-size:14px; padding:12px 0 12px 42px; margin:7px 0 0 30px;}
	
	#team .member {float:left; width:94%; padding:25px 2.5%;}
	#team .member .member_pic {float:left; width:50px; height:50px; padding:5px; border:3px solid #9d9fa2;}
	#team .member .member_pic img {width:100%;}
	#team .member .member_text {float:right; width:70%; color:#bcbec0; font-size:15px; text-align:left; padding:0;}
	
	#blog .inner_blog h2.page-title {color:#fff;font-size:24px;margin:0 0 0px 0; font-weight:normal; line-height:30px;}
	#blog .inner_blog h3.page-subtitle {color:#d3d5d6; font-size:15px; text-align:left; font-weight:bold; font-style:italic; line-height:22px; padding:8px 8px;}
	
	.how .point_name {float:left;width:170px;padding:10px 40px 12px 10px;font-family: 'ancillaryregular'; background:#a1a1a1 url(../img/bg_how.png) no-repeat right -5px; font-size:24px; color:#fff;}
	.how .point_detail {float:left;width:90%;font-size:14px; color:#636466; line-height:24px; margin-top:10px;}
	
	
	.conta .addr {float:left;width:300px; margin-left:20px; margin-bottom:30px;}
	.conta .addr h6 {font-size:33px; line-height:42px; font-weight:normal; color:#808285; margin-bottom:15px; margin-top:0px;}
	.conta .addr p {font-size:22px; line-height:24px; font-weight:normal; color:#636466; margin-bottom:15px;}
	.conta .addr .phone {font-size:22px; line-height:24px; font-weight:normal; color:#fff; margin-bottom:15px; background:#666 url(../img/bg_phone_f.png) no-repeat 15px 10px; padding:10px 10px 10px 60px;}
	.conta .addr .email {font-size:22px; line-height:24px; font-weight:normal; color:#fff; margin-bottom:15px; background:#666 url(../img/bg_email_f.png) no-repeat 15px 10px; padding:10px 10px 10px 60px;}
	.conta .addr .soc {width:77px; height:77px; float:left; margin-right:15px;}
	.conta .right_form {float:left;width:300px; margin-left:20px;}
	.conta .right_form .row {float:left;width:300px; margin-bottom:20px;}
	.conta .right_form .row .input_name {float:left;width:270px; background:#bfbebf url(../img/bg_name_f.png) no-repeat 15px 6px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px; margin-bottom:20px;}
	.conta .right_form .row .input_email {float:left;width:270px; background:#bfbebf url(../img/bg_email_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_phone {float:left;width:270px; background:#bfbebf url(../img/bg_phone_f.png) no-repeat 15px 7px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px; margin-bottom:20px;}
	.conta .right_form .row .input_com {float:left;width:270px; background:#bfbebf url(../img/bg_com_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_msg {float:left;width:270px; height:100px; background:#bfbebf url(../img/bg_msg_f.png) no-repeat 15px 10px; border:none; font-size:15px; color:#636466; padding:10px 10px 10px 60px;}
	.conta .right_form .row .input_btn {float:right;width:140px; height:48px; border:none; cursor:pointer; background:url(../img/btn_send.png) no-repeat left top;}
	
	.how_list_2 ul {margin:0; padding:0;}
	.how_list_2 ul li {background:#666 url(../img/tick.png) no-repeat 5px 8px; color:#fff; width:85%; margin:5px 3px 5px 3px; padding:10px 5px 10px 30px; float:left;}
	
	.client_logos{width:100%; margin:10px auto;}
	.client_logo {width:40%; margin:0 5%; text-align:center; float:left;}
	.client_logo img {width:100%; height:auto;}
	
}